- id: arm_when_away
  alias: Arm Home When Away
  trigger:
    - platform: state
      entity_id: input_select.presence
      from: "Home"
      to: "Away"
  action:
    - service: alarm_control_panel.alarm_arm_away
      data:
        entity_id: alarm_control_panel.grand_ohio
    - service: notify.notify
      data:
        message: "System is armed"
- id: disarm_when_home
  alias: Disarm Home When Home
  trigger:
    - platform: state
      entity_id: input_select.presence
      from: "Home"
      to: "Away"
  action:
    - service: alarm_control_panel.alarm_disarm
      data:
        entity_id: alarm_control_panel.grand_ohio
    - service: notify.notify
      data:
        message: "System is disarmed"
    
- id: alert_when_wet
  alias: Send Alert When Water Detected
  trigger:
    - platform: state
      entity_id: sensor.water_leak_sensor_water
      state: "wet"
  action:
    - service: notify.notify
      data:
        message: >-
          {{ trigger.to_state.attributes.friendly }} detected water!
