- id: arm_when_away
  alias: Arm Home When Away
  trigger:
    - platform: state
      entity_id: input_select.presence
      from: "Home"
      to: "Away"
  # action:
  #   - service: alarm_control_panel.alarm_arm_away
  #     data:
  #       entity_id: alarm_control_panel.grand_ohio
  action:
    - service: ifttt.trigger
      data: {"event":"home_armed"}
    - service: notify.notify
      data:
        message: "System is armed"
- id: disarm_when_home
  alias: Disarm Home When Home
  trigger:
    - platform: state
      entity_id: input_select.presence
      from: "Away"
      to: "Home"
  # Disabled due to long reload
  # action:
  #   - service: alarm_control_panel.alarm_disarm
  #     data:
  #       entity_id: alarm_control_panel.grand_ohio
  # Using IFTTT to arm temporarily
  action:
    - service: ifttt.trigger
      data: {"event":"home_disarmed"}
    - service: notify.notify
      data:
        message: "System is disarmed"
    
- id: alert_when_wet
  alias: Send Alert When Water Detected
  trigger:
    - platform: state
      entity_id:
        - sensor.water_leak_sensor_water
      from: 'dry'
      to: 'wet'
  action:
    - service: notify.notify
      data:
        message: >-
          {{ trigger.to_state.attributes.friendly }} detected water!

- id: alert_when_motion
  alias: Send Alert When Motion And Away
  trigger:
    - platform: state
      entity_id: sensor.bedroom_sensor_motion
      to: "active"
    - platform: state
      entity_id: sensor.aeotec_multisensor_burglar_living_room
      above: 3
  condition:
    - condition: state
      entity_id: input_select.presence
      state: "Away"
  action:
    - service: input_boolean.turn_on
      entity_id: input_boolean.motion_alert
    # - service: notify.notify
    #   data:
    #     message: >-
    #       Alert! {{ trigger.to_state.attributes.friendly }} detected motion
